# Entornos virtuales
venv/
env/
.venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.so
*.pyd

# Archivos de Jupyter
.ipynb_checkpoints/

# Model checkpoints
checkpoints/
*.pth
*.pt

# Datos de entrenamiento y salida
data/images/
data/masks_carne/
data/masks_grasa/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local de VSCode o PyCharm
.vscode/
.idea/

# Archivos de control de SAM/FoodSAM
segment-anything/__pycache__/
FoodSAM/__pycache__/
